<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".vscode" />
          <add segment="vendor" />
          <add segment="request_handler.php" />
          <add segment="request_method.php" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".key" allowed="false" />
          <add fileExtension=".json" allowed="false" />
          <add fileExtension=".lock" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!-- Ensure trailing slash -->
        <rule name="Add trailing slash" stopProcessing="false">
          <match url="(.*[^/])$" />
          <action type="Rewrite" url="{R:1}/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>