<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="get.php" />
          <add segment="put.php" />
          <add segment="delete.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Root_URL_Rewrite" stopProcessing="true">
          <match url="^(.*)\/([A-Za-z0-9\-]*)?(&amp;.*)?" />
          <action type="Rewrite" url="index.php?userId={R:1}{R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>